/* .container{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    grid-row: 3;
    /* grid-template-columns: auto; */
    /* grid-column: 1; */
 
 #links a{
    text-decoration: none;
    background-color: rgb(242, 242, 242);
    color: black;
    padding: 4px 5px 4px 5px;
    align-content: space-between;
    border-radius: 12px;
}
 #searchbar{
    background-color: rgb(232, 253, 4);
}
#logos{
    background-color: aqua;
}
.stage{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px;
    grid-column: 2;
    grid-row: 1; 
    /* background-color: rgb(202, 185, 185); */
}
#side-bar{
    background-color: whitesmoke;
}
/* #content{
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: 1fr 1fr 3fr;
    grid-row: 3; 
    background-color: rgb(85, 85, 227);
} */
#seacrhbox{
    background-color: rgb(255, 255, 255);
}
/* #links{
    background-color: rgb(30, 1, 30);
} */
#images{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr;
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(249, 249, 249);
    border-collapse: collapse;
    margin-top: 30px;
}
/* #first{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-column: 4;
    grid-row: 1;
    background-color:white;
}  */
/* #second{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-row: 1;
    grid-column: 4; 
    background-color: lawngreen;
} */
img{
    width: 230px;
    height: 220px;
}
#side{
    width: 225px;
    height: 540px;
}